[submodule "tmux/plugins/tpm"]
    path = tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
    branch = master
[submodule "zsh/.zprezto"]
    path = zsh/.zprezto
    url = github:MPogoda/prezto
    branch = desktop
