.neobundle
neobundle.vim
closetag/
haskellmode-vim/
molokai/
syntastic/
tabular/
tagbar/
tcomment_vim/
unite.vim/
vim-airline/
vim-easymotion/
vim-endwise/
vim-fugitive/
vim-git/
vim-markdown/
vim-xkbswitch/
vim-signify
vimproc
octave.vim--
vim-unite-history
gitv
NrrwRgn
vim-expand-region
undotree
unite-outline
vim-indent-guides
LaTeX-Box
vim-cpp-enhanced-highlight
YouCompleteMe
ListToggle
vim-colors-solarized
vim-surround
ultisnips
vim-snippets
neosnippet.vim
neocomplete.vim
neosnippet-snippets/
clang_complete/
