ListToggle
closetag.vim
coc.nvim
editorconfig-vim
fzf.vim
gitv
indentLine
neomake
php.vim
rainbow_parentheses.vim
tabular
tagbar
tcomment_vim
undotree
vim-airline
vim-airline-themes
vim-better-whitespace
vim-choosewin
vim-colors-meh
vim-easymotion
vim-endwise
vim-expand-region
vim-fugitive
vim-gitgutter
vim-obsession
vim-polyglot
vim-snippets
vim-startify
vim-surround
yajs.vim
yats
